:root {
  /* Color */
  --color-background: #1f2028;
  --color-white: #fff;
  --color-lightblue: #a9adc1;
  --color-cyan: #3ab5a8;
  --color-dzing: #4e6e91;

  /* device */
  --lg: 62.5rem;
}

/* font size */
.text-lg {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-4xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

/* margin */
.mt-5 {
  margin-top: 20px;
}

/* icon */
.cursor-pointer {
  cursor: pointer;
}

/* display */

.block {
  display: block;
}

/* style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--color-background);
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: var(--lg);
  width: 100%;
  /* background: orange; */
  align-items: center;
  padding: 2rem 1rem;
}

a.nav-header-title {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 16px;
  user-select: none;
  font-weight: bold;
  text-decoration: none;
}

.nav-list {
  display: none;
}

.menu-button {
  display: none;
}

.connect,
.journey,
.project,
.footer-item {
  margin-bottom: 2rem;
}

main {
  min-height: 100vh;
  max-width: var(--lg);
  margin: auto;
  padding: 15px;
  flex: 1;
}

.headline {
  min-height: 100vh;
}

.hero {
  text-align: center;
}

.headline-title {
  margin-bottom: 2rem;
}

.headline-title,
.headline-subtitle {
  font-weight: bold;
}

.headline-subtitle {
  margin: 1rem 0;
}

.headline-figure-mobile img {
  height: 300px;
  width: full;
  display: block;
  margin: 3rem 0;
  text-align: center;
}

.headline-figure img {
  display: none;
}

.connect {
  text-align: center;
  margin-top: 3rem;
}

.connect-logo {
  margin: 20px 0;
}

.journey {
  gap: 2rem;
}

.project h2 {
  margin-bottom: 1rem;
}

.project img {
  height: 300px;
  width: 300px;
}

.footer {
  max-width: var(--lg);
  padding: 15px;
  margin: auto;
}

.footer-item {
  margin-bottom: 2rem;
}

.footer-item h2 {
  margin: 1rem 0;
}

.footer-copyright {
  text-align: center;
  padding: 20px;
  color: var(--color-white);
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--color-cyan);
  font-weight: bold;
}

/*
  * 
      aksebilitas 
  *
  */

.skip-content {
  position: absolute;
  top: -70px;
  left: 0;
  background-color: var(--color-dzing);
  color: white;
  padding: 1.5rem;
  z-index: 100;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.skip-content:focus {
  top: 0;
  outline: 0;
}
.skip-content:hover {
  text-decoration: underline;
}
